Support for headers per part

Hi,

I need to upload files to a server endpoint that requires custom headers on individual multipart parts (e.g. X-checksum for integrity verification on each uploaded file). With curl this is straightforward using the ;headers= suffix on -F:                                                                              
                                                                                                                                                                                                                                                                                                                            
```
  curl -X POST "http://localhost:8080/upload" \
    -F 'file=@/path/to/test.md;type=text/plain;headers="X-checksum: some-checksum"'
```
                                                                                                                                                                                                                                                                                                                            
Unirest's MultipartBody API currently only lets me set Content-Type per part, but there's no way to attach additional headers to a single part.

I can think of two possible solutions:

either:   A fluent method on MultipartBody that attaches a header to the most recently added part:

```
  Unirest.post("http://localhost:8080/upload")
      .field("file", new File("/path/to/test.md"), "text/plain")
      .partHeader("X-checksum", "some-checksum")
      .asString();
```

or: another overload for `.field()`:


```
  Headers partHeaders = new Headers();                                                                                                                                                              
  partHeaders.add("X-checksum", "some-checksum");
                                                                                                                                                                                                    
  Unirest.post("http://localhost:8080/upload")                                                                                                                                                    
      .field("file", new File("/path/to/test.md"), "text/plain", partHeaders)
      .asString();    
```

It does seem, however, that RFC 7578 §4.8 does not allow the setting of custom headers, but would you consider this feature nonetheless? It is supported by other major HTTP clients like curl.

Thanks!


I'll take a look, we are kind of limited by what the Java HTTP Client can do because Unirest is just a wrapper around that, but I think it should be possible.

So I have this working locally. Adding the headers itself is pretty trivial. My bigger concern is how to expose it. The overloads for fields are already kind of a mess, so I think I'm going to start paving a path towards Unirest 5 with this and introducing a sub-builder like this:

```java
Unirest.post("http://localhost:8080/upload")                                                                                                                                                    
      .field(FieldBulder.named("file")
                                  .file(new File("/path/to/test.md"))
                                  .mediaType("text/plain")
                                  .header("X-checksum", "some-checksum")
       ).asString(); 

```

Then we deprecate the more complicated overloads. Keep the simple ones like the plain old name/value and name/file and then for anything bespoke people can use the builder

Whatever that may be worth: I quite like the approach with sub-builders. 

(and thanks for your efforts, I really appreciate you looking into this!!!)

This was released in 4.10.0. Try it out and let me know if that needs adjustment in any way @alin-a. 

I've just tested this for my specific use case and it works perfectly. Thanks again!